{block content}

<h1 n:block="title">Moj uplne uzasny blog</h1>

<div n:foreach="$prispevky as $prispevok" class="post">

<div class="date">{$prispevok->vytvorene|date:'F j, Y'}</div>

<h2>{$prispevok->nazov}</h2>

<div>{$prispevok->obsah}</div>

</div>

{/block}